/*navigation styling*/

.nav a{
    text-decoration: none;
    color: black;
    list-style-type: none;
}

/*jumbotron styling*/

.jumbotron{
    background-color: black;
}

.jumbo_title{
    color: white;
    margin-left: 20px;
}

.jumbo_lead{
    color: white;
    margin-left: 20px;
}

/*jumbotron powerpoint images*/


/*long text /description*/

.text{
    margin: 20px;
}

#phase_1 #phase_2 #phase_3 #phase_4 #phase_5 #phase_6 {
    margin-left: 20px;
}

/*card styling*/

.row{
    margin: 20px;
}

.col{
    border: 1px red solid;
    display: flex;
    justify-content: center;
}

.col img{
    height: 20vh;
    width: 100px;
}

/*.card{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}*/
